[submodule "components/YOBA"]
	path = components/YOBA
	url = https://github.com/IgorTimofeev/YOBA.git
[submodule "components/YOBAUnits"]
	path = components/YOBAUnits
	url = https://github.com/IgorTimofeev/YOBAUnits.git
[submodule "components/YOBANVSSettings"]
	path = components/YOBANVSSettings
	url = https://github.com/IgorTimofeev/YOBANVSSettings.git
